{% extends 'base.html' %}
{% load num_range %}
{% load repeat %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h1> All items </h1>
    {% for item in items %}
        <a href="{{ item.get_absolute_url }}">
            <div class="item"
                 style="display: table; border-collapse: separate; border-spacing: 10px">
                <div style="display: table-cell; text-align: center;">
                    <img width="100px" height="100px" src="{{ item.photo_set.all.0.image.url }}"/>
                </div>
                <div style="width:80%; display: table-cell; vertical-align: middle; ">
                    {{ item.name }}
                </div>
                <div style="display: table-cell;  width: 5%; margin: 10px 0; vertical-align: middle; horiz-align: right;">
                    {{ item.price }}
                </div>
            </div>
        </a>
    {% empty %}
        <div>
            There are no item in the shop!
        </div>
    {% endfor %}

{% endblock %}